{% extends "base.html" %}
{% load humanize %}

{% block page_title %}
Post a tournament
{% endblock page_title %}

{% block content-body %}

<!-- Preview section -->
<div class="preview-section">
  <div class="large-12 medium-12 columns">

    <div class="section-title row">
      <p>Preview your submission</p>
    </div>

    <div class="panel">
      <div class="row">

        <!-- Preview tournament details - TODO: include this don't just copy -->
        <!-- code twice -->

        <div class="large-12 medium-12 columns">

          <div class="title-block-section">
            <div class="large-12 medium-12 columns">

              <div class="section-title row">
                <p>{{ form.data.title|title }}</p>
              </div>

              <div class="section-subtitle row">
                <p>{{ form.data.city }}, {{ form.data.state }}</p>
              </div>

            </div>
          </div>

          <div class="row post_text_section">
            <div class="large-12 medium-12 columns">

              <!-- Lead line -->
              <div class="text_block">
                {{ form.data.pool_hall|title }} will be hosting a 
                {% if form.data.game_other %}
                  <strong>{{ form.data.game_other }}</strong>
                {% else %}
                  <strong>{{ form.instance.get_game_display }}</strong>
                {% endif %}
                tournament on <strong>{{ form.cleaned_data.start_date|date:"l, F d, Y" }}</strong>.
              </div>

              <div class="text_block">
                <!-- Must load humanize to use intcomma -->
                <strong>Entry Fee:</strong> ${{ form.data.fee|floatformat:"0"|intcomma }}
                {% if form.data.green_fees_included %}
                  (green fees included)
                {% elif form.data.green_fees|floatformat:"0"|intcomma %}
                  (plus ${{ form.data.green_fees }} for green fees)
                {% else %}
                  (not including green fees)
                {% endif %}
                <br />

                <strong>Added Money:</strong> ${{ form.data.added_money|floatformat:"0"|intcomma }} 
                {% if form.data.added_money_based_on_full_field %}
                  (based on a full field)
                {% endif %}
                <br />
                <strong>Format:</strong> 
                {% if form.data.tourney_format_other %}
                  {{ form.data.tourney_format_other }}
                {% else %}
                  {{ form.instance.get_tourney_format_display }}
                {% endif %}
                <br />

                {% if form.data.race_to_single %}
                  <strong>Race to:</strong> {{ form.data.race_to_single }}
                {% elif form.data.race_to_a and form.data.race_to_b %}
                <strong>Race to:</strong>
                <div class="tab">{{ form.data.race_to_a }} on the A-side, and</div>
                <div class="tab">{{ form.data.race_to_b }} on the B-side.</div>
                {% endif %}
              </div>

              <div class="text_block">
                <strong>Start Date:</strong> {{ form.cleaned_data.start_date }}<br />
                {% if form.data.end_date %}
                  <strong>End Date:</strong> {{ form.cleaned_data.end_date }}<br />
                {% endif %}
                <strong>Start Time:</strong> {{ form.data.start_time }}<br />
                {% if form.data.has_calcutta %}
                  This tournament will have a calcutta.
                {% endif %}
              </div>

            <div class="text_block">
              For more info, contact: {{ form.data.contact_name|title }} 
              at {{ form.data.formatted_contact_phone }} 
              or <a href="mailto:{{ form.data.contact_email }}?Subject={{ form.data.title|title }}%20Tournament" target="_top">{{ form.data.contact_email }}</a>.
            </div>

            <div class="closing_text_block">
              {% if form.data.adtnl_info %}
              <strong>Additional Notes:</strong> {{ form.data.adtnl_info|capfirst }}
              {% endif %}
            </div>

            </div>
          </div>

        </div>

        <!-- End Preview tournament details -->
      </div>
    </div>

    <div class="row">
      <!-- The url should point to whatever is entered as the name in the URLconf file -->
      <!-- When the form is submitted, POST the result to the URL named -->
      <!-- 'tourney_form_upload' - which will call the tourney_form_upload function in -->
      <!-- views.py -->
      <form action="{% url 'tourney_form_upload' %}" method="post">
        {% csrf_token %}
        {% for field in form %}
        {{ field.as_hidden }}
        {% endfor %}
        <input type="hidden" name="{{ stage_field }}" value="2" />
        <input type="hidden" name="{{ hash_field }}" value="{{ hash_value }}" />

        <div class="large-6 medium-6 columns">
          <button type="submit" class="button radius expand">Submit your post</button>
        </div>
        <div class="large-6 medium-6 large-right medium-right columns">
          <a href="{% url 'tourney_form_upload' %}" 
            onClick="history.go(-1);return false;" 
            class="button radius expand">
            Go back and edit your post
          </a>
        </div>

      </form>
    </div>


  </div>
</div>



<!-- Edit again section -->

<!-- <div class="edit-again-section"> -->
<!--   <div class="large-12 medium-12 columns"> -->
<!--  -->
<!--     <div class="section-title row"> -->
<!--       <p>Or edit it again</p> -->
<!--     </div> -->
<!--  -->
<!--     <div class="panel"> -->
<!--       <div class="row"> -->
<!--         <form action="" method="post">{% csrf_token %} -->
<!--           {% csrf_token %} -->
<!--           {{ form.as_p }} -->
<!--           <input type="hidden" name="{{ stage_field }}" value="1" /> -->
<!--           <button type="submit" class="button radius expand">Refresh the Preview</button> -->
<!--         </form> -->
<!--       </div> -->
<!--     </div> -->
<!--  -->
<!--   </div> -->
<!-- </div> -->

{% endblock content-body %}
