{% extends "base.html" %}
{% load staticfiles %}

{% block content %}


<div class="row">
 
     
  <div class="large-9 medium-10 columns">
 
      <h1>Post a Tournament</h1>
      <hr />

        {% if form.errors %}<h3>Please correct the following errors</h3>
        {% else %}
        <h3>Enter in tournament details</h3>
        {% endif %}

    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="hidden" name="{{ stage_field }}" value="1" />
        <button type="submit" class="radius button">Preview your post</button>
    </form>

    </div>

</div>

{% endblock content %}

{% block bottomjs %}

<!-- Datepicker JQuery -->
<!-- JQuery timepicker library -->
<!-- cf: http://xdsoft.net/jqplugins/datetimepicker/  -->
<!-- this should go after your </body> -->
<link rel="stylesheet" type="text/css" href="{% static 'poolapp/js/datetimepicker-master/jquery.datetimepicker.css' %}"/ >
<script type='text/javascript' src='//code.jquery.com/jquery-1.10.2.js'></script>
<!-- <script src="{% static 'poolapp/js/datetimepicker-master/jquery-1.10.2.js' %}"></script> -->
<script src="{% static 'poolapp/js/datetimepicker-master/jquery.datetimepicker.js' %}"></script>
<script type='text/javascript'>
    jQuery(function(){
    
        jQuery('.datepicker').datetimepicker({
          format:'m/d/Y',
          timepicker:false,
        });
    
        jQuery('.timepicker').datetimepicker({
          datepicker:false,
          format:'H:i',
          formatTime:'h:i a'
        });
    
    });
</script>

<!-- Phone number formatting -->
<!-- Cf: http://digitalbush.com/projects/masked-input-plugin/ -->

<!-- <script type='text/javascript' src='//code.jquery.com/jquery-1.5.2.js'></script> -->
<!-- <script src="{% static 'poolapp/js/jquery.maskedinput-1.2.2.js' %}"></script> -->
<!-- <script type='text/javascript'> -->
<!--     // Use noconflict mode to allow use of multiple versions of jQuery with no -->
<!--     // conflict -- Need different versions for the datepicker lib vs the phone mask -->
<!--     // lib -- NOTE: Make sure that the older version of jQuery is loaded before -->
<!--     // the newer version. -->
<!--     var jQuery_1_5_2 = $.noConflict(true); -->
<!--     jQuery(function($){ -->
<!--         jQuery_1_5_2('.phone').mask('(999) 999-9999');  -->
<!--     }); -->
<!-- </script> -->


{% endblock bottomjs %}
