{% extends "base.html" %}

{% block title %} Post a Tournament {% endblock %}

{% block javascript %}

<!-- Datepicker JQuery -->

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<script>

    $(function() {
        $( ".datepicker" ).datepicker();
    });

</script>

{% endblock %}

{% block content %}

<center>
    <h1>Enter in tournament details</h1>
    <form action="{% url 'tourney_form_upload' %}" method="post">                                                             
        {% csrf_token %}
        {{ form.as_p }}
        <input type='submit' value='Submit' />
    </form>
</center>

{% endblock %}
