{% extends "base.html" %}

{% block page_title %}
Welcome!
{% endblock page_title %}


{% block content-body %}

  <div class="full-height">

    <div class="section-title row">
      <div class="large-12 text-center columns">
        <p>What would you like to do?</p>
      </div>
    </div>

    <div class="row">
      <div class="large-12 text-center columns">
        <ul class="button-group fix_button_group">
          <li><a class="button radius" href="/tournaments/find/">Find a tournament</a></li>
          <li><a class="button radius" href="/tournaments/post/">Post a tournament</a></li>
        </ul>
      </div>
    </div>

  </div>

{% endblock content-body %}
