{% extends "base.html" %}

{% block content %}

    <br />

    <div class="row">
         
        <div class="large-9 medium-9 columns">
            <h3>About Us</h3>
            <p>
            Vivian Marran/Standyco is evolving the way recreational gaming
            communities interact.  By seamlessly connecting players to
            tournament directors through our website, we make finding
            tournaments easier and playing in tournaments more accessible.  Our
            goal is to open up more possibilities for players, and create more
            business for directors and rooms.  We’re here to bring the players
            to the tournaments and the tournaments to the player.
            <br /><br />

            Standyco is: Randy and Steve.
            </p>
        </div>

        <div class="large-3 medium-3 columns">
            <img src="http://placehold.it/300x465&text=Cool Img">
        </div>

    </div>


{% endblock content %}
