/* /* Basic Site Stylings */ */
/* body { */
/*     font-family: ff-clan-web-pro-wide; */
/* } */

/* Foundation top bar */
.foundation-bar {
  margin-bottom: 20px;
}

.main-section {
  background: #ccc;
  padding: 20px;
}

/* Topbar title styling */
.top-bar .title-area h1 a {
    font-family: "Open Sans","Helvetica Neue","Helvetica",Arial,Verdana,sans-serif !important;
    font-size: 15px !important;
    font-weight: 400 !important;
}
.top-bar .name h1 a {
    font-size: 17px;
    opacity: 0.75;
    padding: 0;
    text-rendering: auto;
    transition: all 0.25s ease-in-out 0s;
}
.top-bar .name h1 a {
    width: auto;
}
.top-bar .name h1 a {
    color: #FFFFFF;
    display: block;
    font-weight: bold;
    padding: 0 15px;
}

/* Menu */

.top-bar .top-bar-section ul.right li a, .top-bar .top-bar-section ul.preview li a {
    border-left: 1px solid #5C5C5C;
    border-right: 1px solid #000000;
    font-size: 13px;
}

.top-bar .top-bar-section a {
    font-weight: 500;
    font-family: "Open Sans","Helvetica Neue","Helvetica",Arial,Verdana,sans-serif !important;
}

.active {
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
}

/* Footer */
footer p {
    font-size: 11px;
}

/* Individual Page Titles */
.page-title {
    color: #1FBAD6;
    font-size: 30px;
    text-transform: uppercase;
}

/* Form stylings */

/* Little *Required mark for required fields in forms */
.form-section .form-section-required:before {
    color: #1FBAD6;
    content: "*";
    font-size: 16px;
    padding-right: 4px;
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
}
.form-section .form-section-required {
    font-size: 10px;
    font-weight: 500;
    position: absolute;
    right: 0;
    top: 4px;
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
}

/* Form subsection titles */
.form-section-title p {
    font-size: 22px;
    font-weight: 400;
    color: #000000;
}

/* Form groups */
/* .form-group { */
/*     font-family: ff-clan-web-pro-wide,sans-serif; */
/* } */
.form-group .required label:before {
    color: #1FBAD6;
    content: "*";
    font-size: 16px;
    padding-right: 4px;
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
}
.form-group label {
    color: #666666;
    display: block;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 8px;
    text-transform: uppercase;
}
p, span, li, label {
    color: #000000;
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
}

/* Form section notice */
*, *:before, *:after {
    -moz-box-sizing: border-box;
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
}
.form-section-notice {
    color: #666666;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
}
.form-section-notice .star {
    color: #1FBAD6;
}
p, span, li, label {
    color: #000000;
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
}
