{% extends "base.html" %}
{% load humanize %}

{# HTMLDjango does indexing with a dot, not brackets #}
{# week_list.0.week returns the week attribute from the first member of week_list #}
{% block title %} {{ tourney.title }} {% endblock %}
{% block header %} {{ tourney.title }} {% endblock %}

{% block content %}

{% if tourney %}
    <!-- Tournament Info -->
    <div align="center">
        <td>
          <table style="width: 80%;">
            <!-- |title filter converts text field into 'title case' - cap first -->
            <!-- word of every line -->
            <tr><td><b>{{ tourney.title|title }}</b></td></tr>
            <tr><td></td></tr>
            <tr><td></td></tr>
            <tr>
                <td>
                    {{ tourney.pool_hall }} will be hosting a {{ tourney.get_game_display }}
                    tournament on {{ tourney.date|date:"l, F d, Y" }}.
                </td>
            </tr>
            <tr><td></td></tr>
            <tr><td></td></tr>
            <tr><td>Entry Fee: ${{ tourney.fee|intcomma }}.</td></tr>
            <tr><td>Added Money: ${{ tourney.added_money|intcomma }} 
                    (based on a full field).</td></tr>

            <tr><td>Start time: ${{ tourney.start_time }}</td></tr>

            {% if tourney.end_time %}
                <tr><td>End time: ${{ tourney.end_time }}</td></tr>
            {% endif %}

            <tr><td>
                Format: {{ tourney.get_tourney_format_display }}, One Day 
                ("IRON MAN") <i>STEVE: What is that? What variable
                corresponds to this?</i>
            </td></tr>
            <tr><td></td></tr>
            <tr><td></td></tr>
            <tr><td>
                For additional information contact {{ tourney.contact_name|title }} at
                {{ tourney.formatted_contact_phone }}, or
                {{ tourney.contact_email }}.
            </td></tr>

          </table>
        </td>
    </div>

{% else %}
    <p>No tournaments are available.</p>

{% endif %}

{% endblock %}
