{% extends "find_base.html" %}
{% load humanize %}

{# HTMLDjango does indexing with a dot, not brackets #}
{# week_list.0.week returns the week attribute from the first member of week_list #}


{% block breadcrumbs %}
<!-- Breadcrumbs -->
<div class="row">
  <div class="small-12 large-12 columns">
    <ul class="breadcrumbs">
      <li><a href="/">Home</a></li>
      <li><a href="{% url 'poolapp.apps.find.views.index' %}">Find</a></li>
      <li class="unavailable"><a href="#">State</a></li>
      <li><a href="{% url 'poolapp.apps.find.views.index' %}state/{{ tourney.state }}">{{ tourney.state }}</a></li>
      <li class="current"><a href="#">{{ tourney.title }}</a></li>
    </ul>
  </div>
</div>
{% endblock breadcrumbs %}


{% block body %}

<div class="row">
  
  {% if tourney %}

      <!-- Tournament Info -->
      {% include "tourney_post_details.html" %}

  {% else %}
  <div class="general-error-msg large-12 medium-12 columns">
    <p>Oops! Something went wrong. This tournament is not available.</p>
  </div>
  {% endif %}

</div>

{% endblock body %}
