{% extends "find_base.html" %}

{% block breadcrumbs %}
  <div class="row">
    <div class="small-12 large-12 columns">
      <ul class="breadcrumbs">
        <li><a href="/">Home</a></li>
        <li class="current"><a href="#">Find</a></li>
      </ul>
    </div>
  </div>
{% endblock breadcrumbs %}

{% block body %}

    {% if state_list %}

    <div class="section-title row">
      <div class="large-12 medium-12 columns">
        <p>Select your state</p>
      </div>
    </div>

    <div class="section-title row">
      <div class="large-12 medium-12 columns">

        {% for state in state_list %}
          <!-- No slash before state otherwise the link will break -->
          <a href="state/{{ state }}/">{{ state }}</a><br />
        {% endfor %}

      </div>
    </div>

    {% else %}
      <div class="row">
        <div class="large-12 medium-12 columns">
          <p>No tournaments are available.</p>
        </div>
      </div>
    {% endif %}


{% endblock body %}
