{% extends "base.html" %}

{% block content %}

<center><h1>Find a Tournament!</h1></center>

<div class="row">
    <div class="small-12 large-12 columns">
        <ul class="breadcrumbs">
            <li><a href="/">Home</a></li>
            <li><a href="{% url 'poolapp.apps.find.views.index' %}">Find</a></li>
            <li class="unavailable"><a href="#">State</a></li>
            <li class="current"><a href="#">{{ tourney_list.state_name }}</a></li>
        </ul>
    </div>
</div>

<br />

<div class="row">
    <div class="small-12 large-12 columns" align="center">
      {% if tourney_list %}

          <table>
            <!-- |title filter converts text field into 'title case' - cap first -->
            <!-- word of every line -->
            <tr><td><b>Select a tournament</b></td></tr>
            <tr><td>
                {% for tourney in tourney_list %}
                <!-- No slash before state otherwise the link will break -->
                    <a href="{{ tourney.tourney_id }}/">
                        {{ tourney.date }} &mdash; {{ tourney.title }}: {{ tourney.get_game_display }} tournament at {{ tourney.pool_hall }}
                    </a><br /><br />
                {% endfor %}
            </td></tr>
          </table>

        {% else %}
            <p>No tournaments are available.</p>
        {% endif %}

    </div>
</div>

{% endblock %}
