{% extends "base.html" %}
{% load humanize %}

{% block content %}

<div class="row">
    <div class="large-12 columns">
        <h1>Find a tournament</h1>
    </div>
</div>

<!-- Breadcrumbs -->
<div class="row">
    <div class="small-12 large-12 columns">
        <ul class="breadcrumbs">
            <li><a href="/">Home</a></li>
            <li><a href="{% url 'poolapp.apps.find.views.index' %}">Find</a></li>
            <li class="unavailable"><a href="#">State</a></li>
            <li class="current"><a href="#">{{ tourney_list.state_name }}</a></li>
        </ul>
    </div>
</div>

 
<div class="row">
      
    <!-- Tournament Info at a glance for each tournament -->

    {% if tourney_list %}

    {% for tourney in tourney_list %}

        <div class="large-2 columns small-3">
            <img src="http://placehold.it/80x80&text=[img]"/>
        </div>
        <div class="large-10 columns">
            <p>
            <a href="{{ tourney.tourney_id }}/"><strong>{{ tourney.title|title }}</strong></a><br />
            {{ tourney.pool_hall }} will be hosting a {{ tourney.get_game_display }} tournament on {{ tourney.date }}.<br />
            <!-- Must load humanize to use intcomma -->
            Entry Fee: ${{ tourney.fee|floatformat:"0"|intcomma }}<br />
            Added Money: ${{ tourney.added_money|floatformat:"0"|intcomma }} (based on a full field)<br />
            Format: {{ tourney.get_tourney_format_display }}<br />
            Start Time: {{ tourney.start_time }}<br />
            Contact: {{ tourney.contact_name|title }} at {{ tourney.contact_phone }} or <a href="mailto:{{ tourney.contact_email }}?Subject={{ tourney.title|title }}%20Tournament" target="_top">{{ tourney.contact_email }}</a></h5>.
            </p>
            <hr/>
        </div>

    {% endfor %}

    {% else %}

        <div class="large-12 columns">
            <h5>Oops! There are no tournaments to show!</h5>
        </div>

    {% endif %}

</div>
     
{% endblock %}
