{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="large-12 columns">
        <h1>Find a tournament</h1>
    </div>
</div>

<!-- Breadcrumbs -->
<div class="row">
    <div class="small-12 large-12 columns">
        <ul class="breadcrumbs">
            <li><a href="/">Home</a></li>
            <li><a href="{% url 'poolapp.apps.find.views.index' %}">Find</a></li>
            <li class="unavailable"><a href="#">State</a></li>
            <li class="current"><a href="#">{{ tourney_list.state_name }}</a></li>
        </ul>
    </div>
</div>

 
<div class="row">
      
    <!-- Tournament Info at a glance for each tournament -->

    {% if tourney_list %}

    {% for tourney in tourney_list %}

    <div class="large-2 columns small-3">
        <img src="http://placehold.it/80x80&text=[img]"/>
    </div>
    <div class="large-10 columns">
        <p><strong>Some Person said:</strong> Bacon ipsum dolor sit amet
        nulla ham qui sint exercitation eiusmod commodo, chuck duis velit.
        Aute in reprehenderit, dolore aliqua non est magna in labore pig
        pork biltong.</p>
        <ul class="inline-list">
            <li><a href="#">See more...</a></li>
        </ul>
        <hr/>
    </div>

    {% endfor %}

    {% else %}

        <div class="large-12 columns">
            <h5>Oops! There are no tournaments to show!</h5>
        </div>

    {% endif %}

</div>
     
{% endblock %}
