{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Pool Site{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href={% static 'poolapp/css/normalize.css' %} media="screen,projection" />
    <link rel="stylesheet" type="text/css" href={% static 'poolapp/css/style.css' %} media="screen,projection" />
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script>
		$(function() {
			var pull 		= $('#pull');
				menu 		= $('nav ul');
				menuHeight	= menu.height();

			$(pull).on('click', function(e) {
				e.preventDefault();
				menu.slideToggle();
			});

			$(window).resize(function(){
        		var w = $(window).width();
        		if(w > 320 && menu.is(':hidden')) {
        			menu.removeAttr('style');
        		}
    		});
		});
	</script>

    {% block javascript %}
    {% endblock %}

</head>


<body>

    <nav class="clearfix">
        <ul class="clearfix">
            <li><a href="/">Home</a></li>
            <li><a href="/tournaments/find/">Find a Tournament</a></li>
            <li><a href="/tournaments/post/">Post a Tournament</a></li>
            <li><a href="/forums/">Forums</a></li>
        </ul>
        <a href="#" id="pull">Menu</a>
    </nav>

    <div id="content">
        {% block content %}{% endblock %}
    </div>


    <br /><br /><br />

    <div id="footer_new">

    <p style="font-size: 10px;color:#000000;text-align:center;">
        Contact <a href="mailto:sanpietro.steve@gmail.com?Subject=Pool%20Website" target="_top">
        sanpietro.steve@gmail.com</a> for questions.
    </p>

     <div id="copyright"><p style="color:#b0c4de;text-align:center">&copy; 2015 Standyco, Inc. All Rights Reserved. </p>   </div>

    </div>	<!-- wrapper is close -->

    {% block bottomjs %}
    {% endblock %}

</body>
</html>
