{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Pool Site{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href={% static 'poolapp/css/style.css' %} media="screen,projection" />

    <link rel="stylesheet" type="text/css" href={% static 'poolapp/js/foundation-5.5.2/css/foundation.css' %} media="screen,projection" />
    <link rel="stylesheet" type="text/css" href={% static 'poolapp/js/foundation-5.5.2/css/normalize.css' %} media="screen,projection" />
    <script src="{% static 'poolapp/js/foundation-5.5.2/js/vendor/modernizr.js' %}"></script>

    {% block javascript %}
    {% endblock %}

</head>


<body>

<!-- See http://foundation.zurb.com/docs/components/topbar.html -->
    <nav class="top-bar" data-topbar role="navigation">

      <ul class="title-area">
        <li class="name">
          <h1><a href="/">Tournament Finder</a></h1>
        </li>
          <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone --> 
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>
  
      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
  
          <li><a href="/">Home</a></li>
          <li><a href="/tournaments/find/">Find Tournaments</a></li>
          <li><a href="/tournaments/post/">Post Tournaments</a></li>
          <li><a href="/forums/">Forums</a></li>

          <li class="has-dropdown">
            <a href="#">About Us</a>
            <ul class="dropdown">
              <li><a href="#">Who We Are</a></li>
              <li class="active"><a href="#">Contact Us</a></li>
            </ul>
          </li>

        </ul>
      </section>
    </nav>

    <div id="content">
        {% block content %}{% endblock %}
    </div>


    <br /><br /><br />

    <div id="footer_new">

    <p style="font-size: 10px;color:#000000;text-align:center;">
        Contact <a href="mailto:sanpietro.steve@gmail.com?Subject=Pool%20Website" target="_top">
        sanpietro.steve@gmail.com</a> for questions.
    </p>

     <div id="copyright"><p style="font-size: 10px;color:#b0c4de;text-align:center">&copy; 2015 Standyco, Inc. All Rights Reserved. </p>   </div>

    </div>	<!-- wrapper is close -->

    <!-- Foundation Top Bar: for navigation bar -->
    <script src="{% static 'poolapp/js/foundation-5.5.2/js/vendor/jquery.js' %}"></script>
    <script src="{% static 'poolapp/js/foundation-5.5.2/js/vendor/fastclick.js' %}"></script>

    <script src="{% static 'poolapp/js/foundation-5.5.2/js/foundation.min.js' %}"></script>
    <script src="{% static 'poolapp/js/foundation-5.5.2/js/foundation/foundation.js' %}"></script>
    <script src="{% static 'poolapp/js/foundation-5.5.2/js/foundation/foundation.topbar.js' %}"></script>
    <!-- Other JS plugins can be included here -->

    <script>
        $(document).foundation();
    </script>

    {% block bottomjs %}
    {% endblock %}

</body>
</html>
